.header {
  background-color: rgba(29, 29, 29, 0.87);
}

.head {
  color: white;
}

.card-width {
  min-width: 300px;
  margin: 3%;
}

.img-container {
  height: 400px;
}

.img-thumb {
  max-width: 200px;
}

.cart {
  cursor: pointer;
}
