.header {
  background-color: rgba(29, 29, 29, 0.87);
}

.head {
  color: white;
}

.card-width {
  min-width: 300px;
  margin: 3%;
}

.img-container {
  height: 400px;
}

.marg {
  margin: 15px;
}

.marg-top {
  margin-top: 30px;
}
