.header {
  background-color: rgba(29, 29, 29, 0.87);
}

.head {
  color: white;
}

.fa-dollar-sign {
  color: white;
}

.card-width {
  min-width: 300px;
  margin: 3%;
}

.img-container {
  height: 400px;
}
